<header class="site-header">
  <div class="site-header-inner">
    <a class="brand" href="../index.html">HUDSONLAB</a>

    <nav class="top-nav">
      <a href="../index.html">Home</a>
      <a href="../About/about.html">About</a>
      <a href="../TechExplorer/explorer.html">Technology Compass</a>
      <a href="../Journey/journey.html">Journey</a>
      <a href="../Education/education.html">Education</a>
      <a href="../Certifications/certifications.html">Credentials</a>
      <a href="../Contact/contact.html">Connect</a>
    </nav>
  </div>
</header>